* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0d1117;
  color: #c9d1d9;
  line-height: 1.6;
}

pre{
	 font-size: 20px;
}

.hero {
  display: flex;
  padding: 60px 10%;
  gap: 50px;
  background: linear-gradient(135deg, #161b22, #0d1117);
}

.hero-left {
  text-align: center;
}

.profile-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #58a6ff;
  background: #0d1117;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;           
  object-position: center top;  
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.primary {
  background: #58a6ff;
  color: #000;
}

.secondary {
  border: 1px solid #58a6ff;
  color: #58a6ff;
}

.btn:hover {
  opacity: 0.85;
}

.hero-right h1 {
  font-size: 36px;
  color: #fff;
}

.hero-right h3 {
  color: #58a6ff;
  margin: 10px 0;
}

.section {
  padding: 60px 10%;
}

.section h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #ffffff;
}

.card {
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #21262d;
}

.card h3 {
  color: #58a6ff;
}

.skills-text-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

.skills-text-grid span {
  color: #c9d1d9;
  font-size: 15px;
  padding: 4px 0;
}

.cert-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
}

.cert-grid a {
  padding: 14px 18px;
  border-radius: 12px;
  background: linear-gradient(145deg, #1b222c, #141a22);
  border: 1px solid #21262d;
  color: #58a6ff;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.cert-grid a:hover {
  background: #21262d;
  transform: translateY(-3px);
}


.contact a {
  color: #58a6ff;
}

footer {
  text-align: center;
  padding: 20px;
  background: #161b22;
  border-top: 1px solid #21262d;
}



